.header_flex {
  background-image: url(../ressources/img_3.jpg);
  height: 500px;
}
.header_flex p {
  position: absolute;
  z-index: 1;
  background-color: white;
  text-align: center;
  width: 380px;
  max-width: 1200px;
  left: 60%;
  bottom: 62%;
}

#illustration {
  width: 300px;
  height: 300px;
  margin-left: 190px;
  margin-top: 100px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  width: 1200px;
  height: auto;
  gap: 15px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 100px;
}
#grid .grid-items {
  position: relative;
}
#grid .grid-items .para_grid {
  z-index: 1;
  position: absolute;
  background-color: white;
  padding: 4px;
  margin-left: 4px;
  bottom: 35%;
  border-radius: 3px;
}
#grid .grid-items img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 590px;
  height: 300px;
}