#grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    width: 1200px;
    height: auto;
    gap: 15px;
    margin: 0 auto;
    margin-top: 150px;
    
    .grid-items{
        position: relative;

        .para_grid{
            z-index: 1;
            position: absolute;
            background-color: white;
            padding: 4px;
            margin-left: 4px;
            bottom: 35%;
            border-radius: 3px;
        }
        img{
            object-fit: cover;
            width: 590px;
            height: 300px;
        }
    }
  
}