.header_flex{
    background-image: url(../ressources/img_3.jpg);

    p{
        position: absolute;
        background-color: white;
        text-align: center;
        width: 380px;
        left: 65%;
        bottom: 55%;
    }
}

